<table class="table table-bordered table-striped table-responsive">
    <thead>
    <tr>
        <th class='col-lg-6'>Search Term</th>
        <th class='col-lg-2'>Count</th>
    </tr>
    </thead>
    <tbody>
      <% @search_terms_keys.each do |search_term| %>
        <tr>
          <td>
            <% if @edit_term == search_term %>
              <%= form_for :edit_term, url: update_term_search_terms_path(search_term), remote: true do |f| %>
                <span class='form-inline'>
                  <%= f.button fa_icon 'check' %>
                  <%= f.text_field :search,
                    :class => 'form-control col-lg-4 mx-sm-2',
                    :value => search_term,
                    :autofocus => true
                  %>
                </span>
              <% end %>
            <% else %>
            <%= link_to delete_term_search_terms_path(search_term), method: :delete do %>
              <%= fa_icon 'close' %>
            <% end %>
            <%= link_to edit_search_term_path(search_term), remote: true do %>
              <%= fa_icon 'pencil' %>
            <% end %>
            <span><%= search_term %></span>
            <%= link_to search_terms_path(:search_term => {:search => search_term}), method: :post, class: 'search-icon' do %>
              <%= fa_icon 'google' %>
            <% end %>
            <% end %>
          </td>
          <td><%= @search_terms[search_term] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @search_terms_keys %>
